---
title: 就業驗證 i9 驗證
description: 《移民改革和控制法案》要求美國雇主確認新聘僱員的就業資格狀態。
author: ShielaSogge
ms.date: 01/10/2022
ms.topic: business-process
ms.prod: ''
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: twheeloc
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: b76102111a8506882f2301d76856ae1a34a7c704
ms.sourcegitcommit: 3a7f1fe72ac08e62dda1045e0fb97f7174b69a25
ms.translationtype: HT
ms.contentlocale: zh-TW
ms.lasthandoff: 01/31/2022
ms.locfileid: "8460421"
---
# <a name="employment-verification-i9-verification"></a>就業驗證 i9 驗證

[!include [banner](../../../includes/banner.md)]


[!INCLUDE [PEAP](../../../../../includes/peap-1.md)]

《移民改革和控制法案》要求美國雇主確認新聘僱員的就業資格狀態。 此程序將向您解釋記錄 I-9 驗證所需檔案的步驟。 使用 USMF 公司進行此程序。

1. 進入 **人力資源\>員工\>雇員**。
2. 使用快速篩選器尋找記錄。 例如，過濾 **名稱** 欄位的 **Vince** 值。
3. 選取雇員。 例如，選取 **Vince Prado**。
4. 選取 **個人信息** FastTab。
5. 選取 **身份證號碼**。
6. 選取 **新增**。
7. 選取您正在記錄的身分類型。 對於範例，選取 **Passport**。
8. 在 **名稱** 欄位中，輸入一個值。
9. 在 **主要** 欄位中，選取 **是**。
10. 在 **描述** 欄位中，輸入身分記錄的簡短描述。
11. 在 **簽發機構** 欄位，選取向員工簽發身份證明表格的機構。 對於範例，選取 **Government**。
12. 輸入簽發機構向員工簽發身份證明表格的日期。 例如，輸入 **02/15/2011** (2011 年 2 月 15 日)。
13. 輸入身份證明表格的到期日期。 例如，輸入 **2/15/2021** (2021 年 2 月 15 日)。
14. 選取 **儲存**。
15. 關閉頁面。
16. 選取 **就業** 索引標籤。
17. 選取 **I-9**。
18. 選取 **新增**。
19. 在 **工作資格** 欄位中，選取一個選項。

    如果員工不是美國公民或國民，您必須輸入員工的居民外國人或入境號碼。

20. 選取 **GroupListA** 選項。

    您選取的清單取決於員工提供的身份證明形式。 員工必須提供清單 A 中的一份檔案或清單 B 和清單 C 中的一份檔案。例如，如果員工提供護照，您可以選取清單 A。但是，如果員工只提供駕駛執照和社會安全卡，您必須選取清單 B 和清單 C。

21. 在 **I-9 文件類型** 欄位，選取員工提供的文件類型。
22. 在 **文件編號** 欄位中，輸入或選取一個值。
23. 選取 **儲存**。

[!INCLUDE[footer-include](../../../../../includes/footer-banner.md)]
